#choice-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    height: 100vh;
    grid-column-gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    justify-items: stretch;
    align-items: stretch;
}

.choice-card {
    font-family: 'Bree Serif', serif;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 8px 2px #888;
}

#text-area-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center
}

textarea {
    margin: 20px;
    width: 50%;
    height: 50%;
}